*.pyc
DS_Store
.idea
*.log
admin_api
.vscode
py3.6.5_1
temp files
cwafcli/src/Utils/updateDNS.py
/cwafcli/STAR_dev_impervademo_com.crt
/cwafcli/STAR_dev_impervademo_com.key
/build/
/cwaf_cli.egg-info/
/dist/
/cwafcli/SDK/
/cwafcli/ABP/

/swagger/
