swagger: "2.0"
info:
  title: "Imperva API2 WAF"
  description: "Imperva API2 WAF"
  version: "2.0.0"
  termsOfService: "https://www.imperva.com/legal/terms-of-use/"
  contact:
    email: "support@imperva.com"
externalDocs:
  description: "Find out more about Imperva"
  url: "http://docs.imperva.com"
host: "my.imperva.com"
basePath: /api/prov/v2
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
securityDefinitions:
  api_id:
    type: "apiKey"
    in: "query"
    name: "api_id"
  api_key:
    type: "apiKey"
    in: "query"
    name: "api_key"
security:
- api_id: []
  api_key: []
paths:
  /sites/{siteId}/rules:
    post:
      summary: Create rule
      description: Create rule
      parameters:
      - name: "siteId"
        in: "path"
        description: Site id
        required: true
        type: "integer"
      - name: "rule"
        in: "body"
        description: "The rule to create"
        required: true
        schema:
          $ref: "#/definitions/Rule"
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized siteId
        '404':
          description: Resource not found
        '406':
          description: Invalid Input
        '500':
          description: Internal server error
      tags:
      - rules

  /sites/{siteId}/rules/{ruleId}:
    put:
      summary: Overwrite rule - must contain valid rule id
      description: Overwrite rule
      parameters:
      - name: "siteId"
        in: "path"
        description: Site id
        required: true
        type: "integer"
      - name: "ruleId"
        in: "path"
        description: Rule id
        required: true
        type: "integer"
      - name: "rule"
        in: "body"
        description: "The rule to overwrite"
        required: true
        schema:
          $ref: "#/definitions/Rule"
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized siteId
        '404':
          description: Resource not found
        '406':
          description: Invalid Input
        '500':
          description: Internal server error
      tags:
      - rules

    get:
      summary: Read rule - must contain valid rule id
      description: Read rule
      parameters:
      - name: "siteId"
        in: "path"
        description: Site id
        required: true
        type: "integer"
      - name: "ruleId"
        in: "path"
        description: Rule id
        required: true
        type: "integer"
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized siteId
        '404':
          description: Resource not found
        '406':
          description: Invalid Input
      tags:
      - rules

    post:
      summary: Update rule - must contain valid rule id
      description: Update rule
      parameters:
      - name: "siteId"
        in: "path"
        description: Site id
        required: true
        type: "integer"
      - name: "ruleId"
        in: "path"
        description: Rule id
        required: true
        type: "integer"
      - name: "rule"
        in: "body"
        description: "The rule to update"
        required: true
        schema:
          $ref: "#/definitions/Rule"
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized siteId
        '404':
          description: Resource not found
        '406':
          description: Invalid input
        '500':
          description: Internal server error
      tags:
      - rules

    delete:
      summary: Delete rule - must contain valid rule id
      description: Delete rule
      parameters:
      - name: "siteId"
        in: "path"
        description: Site id
        required: true
        type: "integer"
      - name: "ruleId"
        in: "path"
        description: Rule id
        required: true
        type: "integer"
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized siteId
        '404':
          description: Resource not found
        '405':
          description: Rule can not be deleted
        '406':
          description: Invalid Input
      tags:
      - rules

  /sites/{siteId}/settings/masking:
    get:
      summary: Returns a masking setting for the given site.
      description: Read masking settings.
      produces:
      - application/json
      parameters:
      - name: "siteId"
        in: "path"
        description: Site id
        required: true
        type: "integer"
      responses:
        200:
          description: OK
        401:
          description: Unauthorized siteId
        404:
          description: Resource not found
        406:
          description: Invalid Input
      tags:
        - settings
    post:
      summary: Update masking settings for site
      description: Update masking settings.
      produces:
      - application/json
      parameters:
      - name: "siteId"
        in: "path"
        description: Site id
        required: true
        type: "integer"
      - name: "maskingSettings"
        in: "body"
        description: "The masking setting to configure"
        required: true
        schema:
          $ref: "#/definitions/MaskingSettings"
      responses:
        200:
          description: OK
        401:
          description: Unauthorized siteId
        404:
          description: Resource not found
        406:
          description: Invalid Input
      tags:
      - settings

definitions:
  Rule:
    type: "object"
    properties:
      rule_id:
        type: "integer"
        description: Rule id
      name:
        type: "string"
        description: Rule name
      action:
        type: "string"
        enum:
        - RULE_ACTION_REDIRECT
        - RULE_ACTION_SIMPLIFIED_REDIRECT
        - RULE_ACTION_REWRITE_URL
        - RULE_ACTION_REWRITE_HEADER
        - RULE_ACTION_REWRITE_COOKIE
        - RULE_ACTION_DELETE_HEADER
        - RULE_ACTION_DELETE_COOKIE
        - RULE_ACTION_RESPONSE_REWRITE_HEADER
        - RULE_ACTION_RESPONSE_DELETE_HEADER
        - RULE_ACTION_RESPONSE_REWRITE_RESPONSE_CODE
        - RULE_ACTION_FORWARD_TO_DC
        - RULE_ACTION_ALERT
        - RULE_ACTION_BLOCK
        - RULE_ACTION_BLOCK_USER
        - RULE_ACTION_BLOCK_IP
        - RULE_ACTION_RETRY
        - RULE_ACTION_INTRUSIVE_HTML
        - RULE_ACTION_CAPTCHA
        - RULE_ACTION_RATE
        - RULE_ACTION_CUSTOM_ERROR_RESPONSE
        description: >
          Rule action.
           * RULE_ACTION_REDIRECT - Redirect rule. Redirect the client to a different URL, responding with a 30X response.
           * RULE_ACTION_SIMPLIFIED_REDIRECT - Redirect the client to a different URL using restricted redirect settings.
           * RULE_ACTION_REWRITE_URL - Redirect rule. Modify the path to which a specific request is targeted.
           * RULE_ACTION_REWRITE_HEADER - Redirect rule. Modify or add a request header before passing traffic to the origin server.
           * RULE_ACTION_REWRITE_COOKIE - Redirect rule. Allows the modification and addition of cookies that are sent by the client to the origin server. The cookie name and value should be indicated.
           * RULE_ACTION_DELETE_HEADER - Redirect rule. Remove a specific request header, which means that it won’t be sent to the origin server.
           * RULE_ACTION_DELETE_COOKIE - Redirect rule. Allows the removal a specific cookie set on the client, which means that it won’t be sent to the origin server.
           * RULE_ACTION_RESPONSE_REWRITE_HEADER - Redirect rule. Modify or add a response header before passing traffic by the origin server to the client.
           * RULE_ACTION_RESPONSE_DELETE_HEADER - Redirect rule. Remove a specific response header, which means that it won’t be sent to the client.
           * RULE_ACTION_RESPONSE_REWRITE_RESPONSE_CODE - Redirect rule. Modify the response status code before passing traffic by the origin server to the client.
           * RULE_ACTION_FORWARD_TO_DC - Redirect rule. Used to define the data center to which a specific request will be sent.
           * RULE_ACTION_ALERT - Security rule. Generate a non blocking alert for this event.
           * RULE_ACTION_BLOCK - Security rule. Block the current request and generate an alert for this event.
           * RULE_ACTION_BLOCK_USER - Security rule. Block the current session and generate an alert for this event. Any subsequent request from the same Session will be blocked.
           * RULE_ACTION_BLOCK_IP - Security rule. Block the current IP and generate an alert for this event. Any subsequent request from the same IP will be blocked for a period of 10 minutes.
           * RULE_ACTION_RETRY - Security rule. Require any client matching the rule filters to support cookies in order to complete the request.
           * RULE_ACTION_INTRUSIVE_HTML - Security rule. Require any client matching the rule filters to support javascript in order to complete the request. Since the Javascript test is embedded in an HTML page, this action should only be enabled for HTML resources.
           * RULE_ACTION_CAPTCHA - Security rule. Require any client matching the rule filters to pass a CAPTCHA test in order to complete the request. Since the CAPTCHA test is embedded in an HTML page, this action should only be enabled for HTML resources.
           * RULE_ACTION_RATE -	Count the number of requests received that match the rule filter.
           * RULE_ACTION_CUSTOM_ERROR_RESPONSE - Replace default error response & error code with custom ones. Once blocked a rule that matches the provided filter & error type will return a custom error & error code.
      filter:
        type: "string"
        description: The filter defines the conditions that trigger the rule action. For action RULE_ACTION_SIMPLIFIED_REDIRECT filter is not relevant. For other actions, if left empty, the rule is always run.
      response_code:
        type: "integer"
        description: For RULE_ACTION_REDIRECT or RULE_ACTION_SIMPLIFIED_REDIRECT rule's response code, valid values are 302, 301, 303, 307, 308. For RULE_ACTION_RESPONSE_REWRITE_RESPONSE_CODE rule's response code, valid values are all 3-digits numbers. For RULE_ACTION_CUSTOM_ERROR_RESPONSE, valid values are [ 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 419, 420, 422, 423, 424, 500, 501, 502, 503, 504, 505, 507 ]
      add_missing:
        type: "boolean"
        description: Add cookie or header if it doesn't exist (Rewrite cookie rule only)
      from:
        type: "string"
        description: Pattern to rewrite. For RULE_ACTION_REWRITE_URL - Url to rewrite. For RULE_ACTION_REWRITE_HEADER/RULE_ACTION_RESPONSE_REWRITE_HEADER - Header value to rewrite. For RULE_ACTION_REWRITE_COOKIE - Cookie value to rewrite
      to:
        type: "string"
        description: Pattern to change to. RULE_ACTION_REWRITE_URL - Url to change to. RULE_ACTION_REWRITE_HEADER/RULE_ACTION_RESPONSE_REWRITE_HEADER - Header value to change to. RULE_ACTION_REWRITE_COOKIE - Cookie value to change to
      rewrite_name:
        type: "string"
        description: Name of cookie or header to rewrite. Applies only for RULE_ACTION_REWRITE_COOKIE, RULE_ACTION_REWRITE_HEADER and RULE_ACTION_RESPONSE_REWRITE_HEADER
      dc_id:
        type: "integer"
        description: Data center to forward request to. Applies only for RULE_ACTION_FORWARD_TO_DC
      rate_context:
        type: "string"
        description: The context of the rate counter. Possible values IP or Session. Applies only to rules using RULE_ACTION_RATE.
        enum:
          - IP
          - Session
      rate_interval:
        type: "integer"
        description: The interval in seconds of the rate counter. Possible values is a multiple of 10 minimum 10 maximum 300. Applies only to rules using RULE_ACTION_RATE.
      error_type:
        type: "string"
        description: The error that triggers the rule. error.type.all triggers the rule regardless of the error type. Applies only for RULE_ACTION_CUSTOM_ERROR_RESPONSE
        enum:
          - error.type.all
          - error.type.connection_timeout
          - error.type.access_denied
          - error.type.parse_req_error
          - error.type.parse_resp_error
          - error.type.connection_failed
          - error.type.deny_and_retry
          - error.type.ssl_failed
          - error.type.deny_and_captcha
          - error.type.2fa_required
          - error.type.no_ssl_config
          - error.type.no_ipv6_config
      error_response_format:
        type: "string"
        description: The format of the given error response in the error_response_data field. Applies only for RULE_ACTION_CUSTOM_ERROR_RESPONSE
        enum:
          - json
          - xml
      error_response_data:
        type: "string"
        description: The response returned when the request matches the filter and is blocked. Applies only for RULE_ACTION_CUSTOM_ERROR_RESPONSE
        example: {
            "incidentId" : "$INCIDENT_ID$",
            "hostName" : "$HOST_NAME$",
            "errorCode" : "$RR_CODE$",
            "description" : "$RR_DESCRIPTION$",
            "timeUtc" : "$TIME_UTC$",
            "clientIp" : "$CLIENT_IP$",
            "proxyId" : "$PROXY_ID$",
            "proxyIp" : "$PROXY_IP$"
        }
    example:
      name: "rule name"
      action: "RULE_ACTION_ALERT"
      filter: "ASN == 1"

  MaskingSettings:
    type: "object"
    properties:
      hashing_enabled:
        type: "boolean"
        description: "Use the hashing method for masking fields in your logs and events page."
      hash_salt:
        type: "string"
        description: "The hash salt to use for the hashing algorithm."
    example:
      hashing_enabled: "true"
      hash_salt: "EJKHRT48375N4TKE7956NG"